@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu',sans-serif;
}

body {
  height: 100vh;
  background-image: url(./assets/img/backgroundImg.jpg);
}

#root {
  height: 100%;
}

.header {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color:white;
  padding:0 30px;
}
.header h1{
  flex:1;
}

.navigation {
  display: flex;
  justify-content: center;
  flex:1;
  gap:50px;

}
.navigation .active{
  border-bottom:3px solid white;
}

.navigation li {
  list-style: none;
  text-decoration: none;
}
.navigation li a{
  text-decoration: none;
  color:white;
}
.social-bar{
  display:flex;
  flex:1;
  justify-content: flex-end;
}
.home{
  animation: fade-in-left 2s ease-in-out;
  height:90%;
  display:flex;
  flex-direction: column;
  align-items: center;

}
@keyframes fade-in-left {
  0%{
    opacity:0%;
    transform: translateX(-50vw);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
  
}